/* Add these styles to your global CSS file or the component's CSS file */
.input-style {
    /* Styles for the input fields */
    /* Customize the input appearance to your liking */
    /* Example styles: */
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
   }
   
   
   .button-style {
    /* Styles for the Sign In button */
    /* Customize the button appearance to your liking */
    /* Example styles: */
    width: 100%;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
   }
   
   
   .bg-blue-200 {
    /* Customize the background color */
    /* Example: */
    background: linear-gradient(rgb(255, 255, 255, 0.6), rgb(255, 255, 255, 0.6)), url('https://images.unsplash.com/photo-1459767129954-1b1c1f9b9ace?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
    background-size: cover;
}

   
   
   
   