<nav class="bg-black shadow-lg fixed top-0 left-0 w-full z-50 py-4 lg:py-6">
  <div class="mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-10 lg:h-12">
      <a
        routerLink="/flat"
        class="text-xl lg:text-3xl flex items-center text-white font-serif"
      >
        <i class="fa fa-coffee mr-2 text-gray-400"></i>
        <span class="font-bold">FlatnFoodsFusion</span>
      </a>
      <div>
        <!-- <div class="input-group">
          <input type="search" class="form-control rounded" placeholder="Search Your Flat" aria-label="Search" aria-describedby="search-addon" />
          <button type="button" class="btn btn-outline-primary">Search</button>
        </div> -->
      </div>

      <div class="flex items-center text-lg lg:text-xl">
        <ng-container *ngIf="!isAuthenticated()">
          <a
            routerLink="/login"
            class="text-white px-2 py-1 lg:px-3 lg:py-2 rounded-md font-medium hover:text-gray-300"
          >
            Login
          </a>
          <a
            routerLink="/register"
            class="text-white px-3 py-1 lg:px-4 lg:py-2 rounded-md font-medium ml-2 lg:ml-4 bg-gray-800 hover:bg-gray-700"
          >
            Register
          </a>
        </ng-container>
        <ng-container *ngIf="isAuthenticated()">
          <button
            class="text-white px-2 py-1 lg:px-3 lg:py-2 rounded-md font-medium hover:text-gray-300"
          >
            <ng-container *ngIf="!getRole()">
              {{ userDetails[0]?.userName }}
            </ng-container>
            <ng-container *ngIf="getRole()"> ADMIN </ng-container>
          </button>
          <a
            (click)="logOut()"
            class="cursor-pointer px-3 py-1 lg:px-4 lg:py-2 rounded-md font-medium ml-2 lg:ml-4 bg-gray-800 hover:bg-gray-700 text-white"
          >
            Logout
          </a>
        </ng-container>
      </div>
    </div>
  </div>
</nav>
