<mat-card class="bg-white min-h-screen-80">
  <mat-card-title class="text-white bg-black px-4 py-2 text-xl font-bold">
    Add New Flat
  </mat-card-title>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <form class="example-form" (ngSubmit)="onSubmit()">
          <mat-form-field class="w100">
            <mat-label>City</mat-label>
            <mat-select
              [(ngModel)]="flatData.description"
              name="description"
              placeholder="Select City"
              class="text-black"
            >
              <mat-option value="Ahmedabad">Ahmedabad</mat-option>
              <mat-option value="Bengaluru">Bengaluru</mat-option>
              <mat-option value="Chandigarh">Chandigarh</mat-option>
              <mat-option value="Delhi">Delhi</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="w100">
            <mat-label>Address</mat-label>
            <input
              matInput
              [(ngModel)]="flatData.address"
              name="address"
              placeholder="Address"
              class="text-black"
            />
          </mat-form-field>
          <mat-form-field class="w100">
            <mat-label>Contact</mat-label>
            <input
              matInput
              [(ngModel)]="flatData.contact"
              name="contact"
              placeholder="Contact"
              class="text-black"
            />
          </mat-form-field>
          <mat-form-field class="w100">
            <mat-label>Price</mat-label>
            <input
              matInput
              [(ngModel)]="flatData.price"
              name="price"
              placeholder="Price"
              class="text-black"
            />
          </mat-form-field>
          <mat-form-field class="w100">
            <mat-label>Image</mat-label>
            <input
              matInput
              [(ngModel)]="flatData.image"
              name="image"
              placeholder="Image"
              class="text-black"
            />
          </mat-form-field>
          <mat-form-field class="w100">
            <mat-label>Food</mat-label>
            <input
              matInput
              [(ngModel)]="flatData.food"
              name="food"
              placeholder="Food Nearby"
              class="text-black"
            />
          </mat-form-field>
          <mat-form-field class="w100">
            <mat-label>Type</mat-label>
            <input
              matInput
              [(ngModel)]="flatData.type"
              name="type"
              placeholder="Type-Rent/Sell"
              class="text-black"
            />
          </mat-form-field>

          <div class="container text-center mt-5">
            <button
              mat-raised-button
              color="accent"
              class="bg-black text-white px-4 py-2 rounded-md font-medium"
            >
              Add
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</mat-card>
