
<div class="sidebar">
  <!-- Main Button: All Cities -->
  <button mat-raised-button class="all-cities-button" (click)="onSearch('All')">All Cities</button>

  <!-- City Buttons -->
  <mat-action-list class="city-list">
    <button mat-list-item class="city-button" (click)="onSearch('Ahmedabad')">
      <mat-icon>A</mat-icon>Ahmedabad
    </button>
    <button mat-list-item class="city-button" (click)="onSearch('Bengaluru')">
      <mat-icon>B</mat-icon>Bengaluru
    </button>
    <button mat-list-item class="city-button" (click)="onSearch('Chandigarh')">
      <mat-icon>C</mat-icon>Chandigarh
    </button>
    <button mat-list-item class="city-button" (click)="onSearch('Delhi')">
      <mat-icon>D</mat-icon>Delhi
    </button>
    <!-- Add more city buttons here as needed -->
  </mat-action-list>

  <button mat-raised-button class="my-posts-button" (click)="onFlatByUserIdFilter()">My posts</button>
</div>
