<!-- Main Content -->
<main class="about-page">
    <div class="container mx-auto mt-8 px-4 sm:px-6 lg:px-8">
      <div class="about-content">
        <h1 class="text-4xl font-bold mb-8 text-center">About FlatnFoodsFusion</h1>
  
        <p class="text-lg mb-8">
          FlatnFoodsFusion is a platform that aims to make the process of relocating and finding a new flat
          hassle-free and convenient for people. We understand that searching for a new flat and relocating to a new
          place can be a daunting task, and that's why we are here to help.
        </p>
  
        <h2 class="text-2xl font-bold mb-4">Our Services</h2>
  
        <p class="text-lg mb-4">
          <span class="font-bold">Flat Search:</span> With FlatnFoodsFusion, you can easily search for flats that
          match your preferences and budget. Our platform provides a user-friendly interface where you can filter and
          find flats based on your desired location, price range, and other amenities.
        </p>
  
        <p class="text-lg mb-8">
          <span class="font-bold">Flat Post:</span> Are you a flat owner? You can also post your available flats on
          FlatnFoodsFusion to reach potential tenants quickly. Upload photos of your flat and provide essential details
          to attract suitable tenants.
        </p>
  
        <h2 class="text-2xl font-bold mb-4">Why Choose Us</h2>
  
        <ul class="list-disc list-inside text-lg mb-8">
          <li>Wide Selection of Flats: We have a diverse range of flats listed on our platform, giving you multiple
            options to choose from.</li>
          <li>Easy-to-Use Interface: Our user-friendly interface makes it simple to search, view, and post flats.</li>
          <li>Photo Gallery: We provide photo galleries for each flat, so you can get a visual representation of the
            property.</li>
          <li>Quick and Secure: FlatnFoodsFusion ensures a quick and secure process for both tenants and flat owners.</li>
          <li>Customer Support: Our dedicated customer support team is available to assist you with any queries or
            issues.</li>
        </ul>
  
        <h2 class="text-2xl font-bold mb-4">Contact Us</h2>
  
        <p class="text-lg mb-8">
          If you have any questions, feedback, or need assistance, feel free to reach out to our customer support
          team at:
        </p>
  
        <p class="text-lg font-bold text-center">
          Email: support@flatnfoodsfusion.com
        </p>
      </div>
    </div>
  </main>
  
  <!-- Footer -->
  <footer class="bg-black py-4 text-white text-center">
    <p class="text-sm">&copy; 2023 FlatnFoodsFusion. All rights reserved.</p>
  </footer>
  