<div class="container-fluid g-0">
  <main class="black-border">
    <!-- Toolbar to add and search flats -->
    <div class="toolbar black-border">
      <div class="add-flats">
        <button
          type="button"
          class="btn btn-outline-success btn-lg"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          routerLink="/add-flat"
        >
          Post Flat AD
        </button>
      </div>

      <div class="search-flats">
        <input type="search" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="Search Flats" />
      </div>
    </div>

    <!-- Area to display all the flats -->
    <div class="flats">
      <div class="row mt-8">
        <div class="col">
          <app-subflat></app-subflat>
        </div>
      </div>
    </div>
  </main>
</div>
