
<div class="container-fluid">
  <form class="row g-3" (ngSubmit)="onCustomFilterSubmit(startPrice,endPrice)">
    <div class="col-md-4">
      <div class="form-group mb-3">
        <label for="startPrice" class="form-label">Start Price:</label>
        <div class="input-group">
          <span class="input-group-text">₹</span>
        <input type="number" class="form-control" [(ngModel)]="startPrice" name="startPrice" step="1000" min="0"/>
      </div>
    </div>
    </div>
    <div class="col-md-4">
      <div class="form-group mb-3">
        <label for="endPrice" class="form-label">End Price:</label>
        <div class="input-group">
          <span class="input-group-text">₹</span>
        <input type="number" class="form-control" [(ngModel)]="endPrice" name="endPrice" step="1000" min="0"/>
      </div>
    </div>
    </div>
    <div class="col-md-4.5">
      <div class="d-grid">
        <button type="submit" class="btn btn-primary" style="background-color: #007bff;">Submit</button>
      </div>
    </div>
  </form>
</div>
<div class="container-fluid">
  <!-- Loop through the flatEntries array -->
  <ng-container *ngFor="let flatData of flats; index as i">
    
    <!-- Add a border and background color to the container -->
    <div class="border rounded p-3 bg-light my-3">
      <!-- Description -->
      <div class="col-md-12 mb-3 text-center">
        <span class="desc">{{ flatData.description }}</span>
      </div>

      <div class="row g-0">
        <!-- Left side: Image -->
        <div class="col-md-2 d-flex align-items-center">
          <div class="image-block">
            <img src="{{ flatData.image }}" alt="Flat Image" class="flats"  (click)="openImageModal(flatData.image.toString())" >
          </div>
        </div>

        <!-- Right side: Details -->
        <div class="col-md-10">
          <div class="row g-0 mt-3">
            <div class="col-md-6">
              <table class="table table-bordered table-hover table-striped">
                <thead class="text-center fs-5 text-secondary">
                  <tr>
                    <th colspan="2">Flat Details</th>
                  </tr>
                </thead>
                <tbody class="black-border">
                  <tr>
                    <td>Address</td>
                    <td>{{ flatData.address }}</td>
                  </tr>
                  <tr>
                    <td>Type</td>
                    <td>{{ flatData.type }}</td>
                  </tr>
                  <tr>
                    <td>Price</td>
                    <td>{{ flatData.price | currency : "INR" }}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="col-md-6">
              <table class="table table-bordered table-hover table-striped">
                <thead class="text-center fs-5 text-secondary">
                  <tr>
                    <th colspan="2">More Details</th>
                  </tr>
                </thead>
                <tbody class="black-border">
                  <tr>
                    <td>Contact</td>
                    <td>{{ flatData.contact }}</td>
                  </tr>
                  <tr>
                    <td>Food Options</td>
                    <td>{{ flatData.food }}</td>
                  </tr>
                  <tr>
                    <td>Posted</td>
                    <td>{{ flatData.posted | timeAgo }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<!-- Image Modal -->
<div class="modal" [ngClass]="{'show': isModalOpen}">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Close icon -->
      <button type="button" class="close" (click)="closeImageModal()">&times;</button>
      <!-- Zoomed Image -->
      <div class="modal-body">
        <div class="image-container">
          <button class="nav-button left-button" (click)="showPreviousImage()">&lt;</button>
          <img [src]="zoomedImageUrl" alt="Zoomed Image" class="zoomed-image">
          <button class="nav-button right-button" (click)="showNextImage()">&gt;</button>
        </div>
      </div>
    </div>
  </div>
</div>



 
  