<div class="container-fluid g- p-2">
  <div class="row g-0">
    <div class="col ps-2">
      <div class="row g-0">
        <div class="col-md-10 text-center">
          <span class="desc">2bhk flat for sell in Ahmedabad</span>
        </div>

        <div class="col-md-2">
          <!-- <div class="btn-group" role="group">
                        <button type="button" class="btn btn-outline-success">Edit</button>
                        <button type="button" class="btn btn-outline-danger">Delete</button>
                    </div> -->
        </div>
      </div>

      <div class="row g-0 mt-3">
        <div class="col-md">
          <table class="table table-hover mx-auto">
            <thead class="text-center fs-5 fst-italic text-secondary">
              <tr>
                <td colspan="2">Details</td>
              </tr>
            </thead>
            <tbody *ngFor="let flat of flats" class="black-border">
              <tr>
                <td>Description</td>
                <td>{{ flat.description }}</td>
              </tr>
              <tr>
                <td>Address</td>
                <td>{{ flat.address }}</td>
              </tr>
              <tr>
                <td>Type</td>
                <td>{{ flat.type }} Type</td>
              </tr>
              <tr>
                <td>Price</td>
                <td>{{ flat.price | currency : " INR " }}</td>
              </tr>
              <tr>
                <td>Contact</td>
                <td>{{ flat.contact}} Type</td>
              </tr>

              <tr>
                <td>Food Options Nearby</td>
                <td>{{ flat.food }}</td>
              </tr>

              <tr>
                <td>Image</td>
                <td>{{ flat.image }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
