<div class="container-fluid g- p-2">

    <div class="row g-0">

        <div class="col-md-2 d-flex justify-content-center align-items-center">
            <img src="../assets/images/flat1.jpeg" alt="Flat Image" 
            class="images"> 
        </div>

        <div class="col ps-2">

            <div class="row g-0">

                <div class="col-md-10 text-center">
                     <span class="desc">2bhk flat for sell in Ahmedabad</span>
                </div>

                <div class="col-md-2">
                    <!-- <div class="btn-group" role="group">
                        <button type="button" class="btn btn-outline-success">Edit</button>
                        <button type="button" class="btn btn-outline-danger">Delete</button>
                    </div> -->

                </div>
            </div>

        <div class="row g-0 mt-3">

            <div class="col-md">
                <table class="table table-hover mx-auto">
                    <thead class="text-center fs-5 fst-italic text-secondary">
                        <tr>
                            <td colspan="2">Details</td>
                        </tr>
                    </thead>
                <tbody>
                    <tr>
                        <td>Price</td>
                        <td>{{5000 |  currency:' INR ' }}</td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>Rent</td>
                    </tr>
                    <tr>
                    <td>Food Options Nearby</td>
                    <td>Tiffin services available at 8498948532</td>
                    </tr>
                    <!-- <tr>
                        <td>Type</td>
                        <td>Rent</td>
                    </tr> -->
                </tbody>
                </table>

            </div>

            <div class="col">
                <table class="table table-hover mx-auto">
                    <thead class="text-center fs-5 fst-italic text-secondary">
                        <tr>
                            <td colspan="2">Connect </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Contact</td>
                            <td>9839473279</td>
                        </tr>
                        <tr>
                        <td>Address</td>
                        <td> Vavol, Gandhinagar</td>
                        </tr>
                        <tr>
                            <td> Posted</td>
                            <td>5 days ago</td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

        </div>
    </div>
</div>